body {
  background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%);
  text-align: center;
  color: white;
  font-family: 'Josefin Sans', sans-serif;
}

::-webkit-scrollbar {
          width: 12px;
      }
       
      /* Track */
      ::-webkit-scrollbar-track {
          -webkit-border-radius: 10px;
          border-radius: 10px;
      }
       
      /* Handle */
      ::-webkit-scrollbar-thumb {
          -webkit-border-radius: 10px;
          border-radius: 10px;
          background: #e8e8e8;  
      }
      ::-webkit-scrollbar-thumb:window-inactive {
        background: #cacaca; 
      }

h1 {
	margin-bottom: 30px;
}

.App {
  margin-top: 5%;
}